body {
  background-color: antiquewhite;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Adjust minmax values as needed */
  gap: 10px; /* Adjust the gap between images */
}

.image-wrapper {
  position: relative;
  width: 400px; /* Set fixed width for image wrapper */
  height: 450px; /* Set fixed height for image wrapper */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill container */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  display: none; /* Initially hidden */
  flex-direction: column; /* Stack h2 and p vertically */
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Ensure overlay dimensions include padding */
  padding: 20px;
}

.overlay h2 {
  margin-bottom: calc(5px + 5px); /* Add spacing between h2 and p */
  font-size: calc(0.5em + 0.5em); /* Responsive font size */
}

.overlay p {
  font-size: calc(0.3em + 0.3em); /* Responsive font size */
}

.image-wrapper a:focus + .overlay {
  display: flex;
}

.show-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-button:hover {
  background-color: #0056b3;
}

/* description.html */

.planned-result {
  width: 750px;
  height: 550px;
}

.planned-result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}