.grid-container {
  display: grid;
  grid-template-columns: repeat(3, calc(600px + 28px), calc(600px + 28px));
  grid-gap: 10px;
  overflow: auto;
}

.item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Select every even item and change its background color */
.item:nth-child(1) {
  background-color: #aaa;
}

.item:nth-child(2) {
  background-color: #aaa;
}

.item:nth-child(3) {
  background-color: #aaa;
}

.item:nth-child(4) {
  background-color: #aaa;
}

.item:nth-child(5) {
  background-color: #aaa;
}